
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td class = "col-md-2 control-label">Username</td>
                <td class = "form-control">@Html.TextBox("username")</td>
            </tr>
            <tr>
                <td class = "col-md-2 control-label">Password</td>
                <td class = "form-control">@Html.Password("password")</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-default" type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}  