
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutInitial.cshtml";
}
<div style="width:100%">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div style="display:table; margin: 0 auto;">
            <fieldset>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }

                <div style="margin: 0 auto; margin-top: 25%;">
                    <div class="row">
                        <img src="~/Content/icons/overlord-helm.png" style="display: block; margin: 0 auto;" />
                        <br />
                    </div>
                    <div class="row">
                        <h2 stlye="font-family: aniron, Verdana">Minion Wars</h2>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 10%;">
                    <div class="row">
                        <br />
                        @Html.TextBox("username", null, new { @class = "form-control", @placeholder = "Username" })
                    </div>
                </div>
                <div class="form-group" style="margin-top: 10%;">
                    <div class="row">
                        <br />
                        @Html.Password("password", null, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                </div>
                <div style="margin-top: 10%;">
                    <div class="row" style="text-align: center;">
                        <input type="submit" class="btn btn-default" value="Login"/>
                    </div>
                </div>
                <div style="margin-top: 30%;">
                    <div class="row" style="text-align: center;">
                        @Html.ActionLink("Register", "Register", "Account", new { id = "registerLink" }, new { @class = "btn btn-default" })
                    </div>
                </div>

            </fieldset>
        </div>
    }
</div>