@model VZwars.Models.UserDataModel
@using MinionWarsEntitiesLib.Models
@using VZwars.Models
<div id="battlegroupPageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User character</h4>
            </div>
            <div class="modal-body">
                <div id="bgTabs">
                    <ul>
                        <li><a href="#modalPersonalBG">Personal Battlegroup</a></li>
                        <li><a href="#modalRemoteBG">Remote Battlegroups</a></li>
                        <li><a href="#modalMinions">Minions</a></li>
                    </ul>

                    <!-- Personal Battlegroup-->
                    <div class="row" id="modalPersonalBG">
                        @Html.Partial("Partial_battlegroupPersonal")
                    </div>
                    <!-- Remote Battlegroups-->
                    <div class="row" id="modalRemoteBG">
                        @Html.Partial("Partial_battlegroupRemote")
                    </div>
                    <!-- Minions -->
                    <div class="row" id="modalMinions">
                        @{
                            foreach (MinionModel m in Model.minions)
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="http://minion-wars.azurewebsites.net/Content/icons/goblin_minion.png" alt="minion" />
                                        <button type="button" class="btn btn-default" onclick="addToGroup(@m.ownership.id)">Add minion to group</button>
                                    </div>
                                <div class="col-md-3">
                                    <p>Type: @m.type.name</p>
                                    <p>Total amount: @m.ownership.group_count</p>
                                    <p>Available: @m.ownership.available</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Strength: @m.data.strength</p>
                                    <p>Dexterity: @m.data.dexterity</p>
                                    <p>Vitality: @m.data.vitality</p>
                                    <p>Power: @m.data.power</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Melee Ability: @m.data.melee_ability</p>
                                    <p>Ranged Ability: @m.data.ranged_ability</p>
                                    <p>Passive: @m.data.passive</p>
                                </div>
                                </div>
                                <div class="row">
                                    <hr />
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
