@model VZwars.Models.UserDataModel
@using MinionWarsEntitiesLib.Models
@using VZwars.Models

    <div class="row">
        <div class="col-md-3">
            <img src="~/Content/icons/spartan-helmet.png" />
        </div>
        <div class="col-md-3">
            <p>Current size: @Model.personalBg.currentAmount</p>
            <p>Maximum size: @Model.personalBg.battlegroup.size</p>
        </div>
    </div>

    <div class="row">
        <hr />
    </div>

    <div>
        @{
            foreach (MinionModel m in Model.personalBg.minions)
            {
                <div class="row">
                    <div class="col-md-4">
                        <p>Type: @m.type.name</p>
                        <p>Group count: @m.assignment.group_count</p>
                        <p>Line: @m.assignment.line</p>
                        <button class="btn btn-default" onclick="removeMinions(@m.assignment.id)">Remove</button>
                    </div>
                    <div class="col-md-4">
                        <p>Strength: @m.data.strength</p>
                        <p>Dexterity: @m.data.dexterity</p>
                        <p>Vitality: @m.data.vitality</p>
                        <p>Power: @m.data.power</p>
                    </div>
                    <div class="col-md-4">
                        <p>Melee Ability: @m.data.melee_ability</p>
                        <p>Ranged Ability: @m.data.ranged_ability</p>
                        <p>Passive: @m.data.passive</p>
                    </div>
                </div>
                <div class="row">
                    <hr />
                </div>
            }
        }
    </div>

